# Terraform
*.tfstate
*.tfstate.backup
*.tfvars*
!terraform.tfvars.example
.terraform/
.terraform*

#Function code
*.zip

#IDEs
.idea
.vscode

#MAC OS
.DS_Store
*.DS_Store

#Python coverage
.coverage
*/htmlcov/*

#Python
.venv
.venv/*
__pycache__/*
*/.venv
*/.venv/*
*/__pycache__/*